iOS/JSBridge/JSBridge.xcodeproj/project.xcworkspace/xcshareddata/JSBridge.xccheckout
iOS/JSBridge/JSBridge.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Android/JSBridge/gen/
Android/JSBridge/bin/
iOS/JSBridge/JSBridge.xcodeproj/project.xcworkspace/xcuserdata/sivark.xcuserdatad/UserInterfaceState.xcuserstate
iOS/JSBridge/JSBridge.xcodeproj/xcuserdata/sivark.xcuserdatad/xcschemes/JSBridge.xcscheme
iOS/JSBridge/JSBridge.xcodeproj/xcuserdata/sivark.xcuserdatad/xcschemes/xcschememanagement.plist
